div.userHeaderCard {

    div.headCard {
        display: flex;
        width: 320px;
        justify-content: space-between;

        div.headCardName {
            font-size: 1.7em;
            padding-top: 5px;
            display: inline;
            font-weight: bold;
            font-family: $fontC;
        }
    }
    p {
        width: 100%;
    }
}

html.htmlSun div.containerMomentCard {

    div.MuiCardHeader-root {
        background-color: $colorE-sun;

        div.userHeaderCard {

            div.headCard {
                color: $colorA-sun;

                div.headCardName {
                    text-shadow:
                        2px 7px 5px rgba(0, 0, 0, 0.3),
                        0px -4px 10px rgba(103, 103, 103, 0.3);
                }
            }
            p {
                color: $colorA-sun;
            }
        }
    }
    .MuiSvgIcon-root {
        color: $colorA-sun;
    }
}

html.htmlMoon div.containerMomentCard {

    div.MuiCardHeader-root {
        background-color: $colorA-moon;

        div.userHeaderCard {

            div.headCard {
                color: $colorE-moon;

                div.headCardName {
                    text-shadow:
                        2px 7px 5px rgba(0, 0, 0, 0.3),
                        0px -4px 10px rgba(255, 255, 255, 0.3);
                }
            }
            p {
                color: $colorC-moon;
            }
        }
    }
    .MuiSvgIcon-root {
        color: $colorC-moon;
    }
}