div label.displayMomentContainer {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    width: 5em;
    height: 1em;
    user-select: none;
    border: none;

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    input[type="radio"]:checked~.selected:after {
        transform: scale(1);
    }
}