$colorBlack: #0A0A0A;
$colorWhite: #f3f3f3;

$colorA-sun: #5C4B51;
$colorB-sun: #F06060;
$colorC-sun: #E8E6ED;
$colorD-sun: #F3B562;
$colorE-sun: #8CBEB2;
$colorF-sun: #020202;
$colorG-sun: #C8C8C8;

$colorA-moon: #404040;
$colorB-moon: #4B4A4D;
$colorC-moon: #E9EAE5;
$colorD-moon: #55595B;
$colorE-moon: #CDDDD0;
$colorF-moon: #656B8C;
$colorG-moon: #E8E6ED;

$colorA-sun-20: #5C4B5120;
$colorB-sun-20: #F0606020;
$colorC-sun-20: #E8E6ED20;
$colorD-sun-20: #F3B56220;
$colorE-sun-20: #8CBEB220;
$colorA-moon-20: #40404020;
$colorB-moon-20: #4B4A4D20;
$colorC-moon-20: #E9EAE520;
$colorD-moon-20: #55595B20;
$colorE-moon-20: #CDDDD020;
$colorA-sun-40: #5C4B5140;
$colorB-sun-40: #F0606040;
$colorC-sun-40: #E8E6ED40;
$colorD-sun-40: #F3B56240;
$colorE-sun-40: #8CBEB240;
$colorA-moon-40: #40404040;
$colorB-moon-40: #4B4A4D40;
$colorC-moon-40: #E9EAE540;
$colorD-moon-40: #55595B40;
$colorE-moon-40: #CDDDD040;
$colorA-sun-90: #5C4B5190;
$colorB-sun-90: #F0606090;
$colorC-sun-90: #E8E6ED90;
$colorD-sun-90: #F3B56290;
$colorE-sun-90: #8CBEB290;
$colorA-moon-90: #40404090;
$colorB-moon-90: #4B4A4D90;
$colorC-moon-90: #E9EAE590;
$colorD-moon-90: #55595B90;
$colorE-moon-90: #CDDDD090;